* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

@media (max-width: 400px) {
  .navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(48, 7, 87);
    color: #fff;
    width: 100%;
    padding: 20px;
  }
  .navP {
  }
}
